ApiNetCoreAws/postgres/*
ApiNetCoreAws/postgres/**/*
ApiNetCoreAws/bin/
ApiNetCoreAws/obj/
ApiNetCoreAws/Debug/
ApiNetCoreAws/Debug/*
ApiNetCoreAws/Debug/**/*
ApiNetCoreAws/obj/*
ApiNetCoreAws/obj/**/*
bin/
bin/*
bin/**/*
ApiNetCoreAws/bin/
ApiNetCoreAws/bin/*
ApiNetCoreAws/bin/**/*
ApiNetCoreAws/ApiNetCoreAws/bin/
ApiNetCoreAws/ApiNetCoreAws/bin/*
ApiNetCoreAws/ApiNetCoreAws/bin/**/*
ApiNetCoreAws/ApiNetCoreAws/obj/
ApiNetCoreAws/ApiNetCoreAws/obj/*
ApiNetCoreAws/ApiNetCoreAws/obj/**/*
ApiNetCoreAws/.vs/
/postgres/*
ApiNetCoreAws/ApiNetCoreAws/postgres/** 
ApiNetCoreAws/ApiNetCoreAws/postgres_data/** 
ApiNetCoreAws/postgres_data/** 
ApiNetCoreAws/postgres_data/*
ApiNetCoreAws/postgres_data/
ApiNetCoreAws/postgres/
ApiNetCoreAws/ApiNetCoreAws/out/